@charset "UTF-8";

html { 
  box-sizing: border-box; 
} 
* {   
  box-sizing: inherit; 
}

body {
  font-family: Georgia, serif;
  font-size: 100%;
  background-color: white;
  margin: 0;
}

/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }
a {
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: .2em;
}

/* header styles */
header {
  text-align: center;

  background-image: url("../img/croissants_banner.jpg");
  background-size: cover;
  background-position: center;
  

  height: 250px;
  position: relative;
  color: white;
}

header p {
  font-style: italic;
  font-size: 1.2em;
  margin-top: -12px;
}
header h1 {
  margin-top: 36px;
}

/* nav styles */

nav ul li a {
  display: block;
  border: 1px solid;
  border-radius: 6px;
  padding: .5em 1em;
  margin: .5em;
}

nav, footer {
  font-family: verdana, sans-serif;
  background-color: #783F27;
}
nav ul li a:link, nav ul li a:visited {
  color: #F9AB33;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #fff;
}
nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

/* main "products" styles */
main {
  font-family: 'Stint Ultra Expanded', cursive;
  background-color: white;
  line-height: 1.8em;
  color: #555;
  padding: 16px;
  border: double 6px #EADDC4;
  border-radius: 25px;
  margin: 2.5%;
}
h3 {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #7A0002;
  border-top: 1px solid;
  border-left:3px solid;
  padding-left: 1em;
  margin-top: 2.5em;
}
p.more {
  font-family: verdana, sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  clear: left;
}
main img {
  float: left;
  margin: 0 16px 16px 0;
}
img[src*="muffin"] {
  margin-left: 50px;
  float: left;
  shape-outside: circle(110px);
shape-outside: circle(125px)}
img[src*="bread"] {
  float: left ;
  shape-outside: circle(125px);
  shape-outside: ellipse(130px 105px at 50% 50%);
}
/* aside "hours" styles */
aside {
  background: url(images/scallop.png) repeat-y left top;
  background-color: #F6F3ED;
  padding: 16px;
  padding-left: 45px;
  border-top-right-radius: 25px;
  margin: 1em 2.5% 0 75px;
}
/* misc styles */
footer {
  color: #EADDC4;
  text-align: center;
  font-size: .8em;
  padding: 12px;
}
h2 {
  font-family: 'Stint Ultra Expanded', cursive;
}
.day {
  color: #783F27;
  font-family: verdana, sans-serif;
  font-size: .8em;
  text-transform: uppercase;
}
#award {
  position: absolute;
  top: 30px;
  left: 50px;
}
